* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--ctp-mocha-base);
	color: var(--ctp-mocha-text);
	font-family: "JetBrainsMono Nerd Font";
	width: 100vw;
	height: 100vh;
	padding: 8em;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

img {
	width: 14em;
	height: 14em;
	margin-right: 2em;
}

h1 {
	font-size: 4em;
}

#ver {
	color: var(--ctp-mocha-subtext0)
}
